<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cht</key>
		<string>[微笑]</string>
		<key>png</key>
		<string>001</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[撇嘴]</string>
		<key>png</key>
		<string>002</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[色]</string>
		<key>png</key>
		<string>003</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[发呆]</string>
		<key>png</key>
		<string>004</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[得意]</string>
		<key>png</key>
		<string>005</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[流泪]</string>
		<key>png</key>
		<string>006</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[害羞]</string>
		<key>png</key>
		<string>007</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[闭嘴]</string>
		<key>png</key>
		<string>008</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[睡]</string>
		<key>png</key>
		<string>009</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[大哭]</string>
		<key>png</key>
		<string>010</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[尴尬]</string>
		<key>png</key>
		<string>011</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[发怒]</string>
		<key>png</key>
		<string>012</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[调皮]</string>
		<key>png</key>
		<string>013</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[呲牙]</string>
		<key>png</key>
		<string>014</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>015</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[难过]</string>
		<key>png</key>
		<string>016</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[酷]</string>
		<key>png</key>
		<string>017</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[冷汗]</string>
		<key>png</key>
		<string>018</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[抓狂]</string>
		<key>png</key>
		<string>019</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[吐]</string>
		<key>png</key>
		<string>020</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[偷笑]</string>
		<key>png</key>
		<string>021</string>
	</dict>
</array>
</plist>
